<p id="notice"><%= notice %></p>

<p>
  <strong>Open:</strong>
  <%= @service.open %>
</p>


<p>
  <strong>Details:</strong>
  <%= @service.details %>
</p>

<%= link_to 'Edit', edit_user_service_path(current_user, @service) %> |
<%= link_to 'Back', user_services_path(current_user) %>
