<div class="modal-body">

  <div class="form-group-inline">
    <%= f.label :name %>
    <%= f.text_field :name, class:'form-control'%>
  </div>
  <div class="form-group-inline">
    <%= f.label :description %>
    <%= f.text_area :description, class:'form-control editable', rows:'5'%>
  </div>
  <% unless type == "edit" %>
    <%= f.fields_for :picture do |i| %>
      <div class="form-group-inline">
        <%= i.label :image %>
        <%= i.file_field :image, class:'form-control-file'%>
      </div>
      <div class="form-group-inline">
        <%= i.label :caption %>
        <%= i.text_field :caption, class:'form-control', rows:'5'%>
      </div>
    <% end %>
    <%= f.fields_for :document do |j| %>
      <div class="form-group-inline">
        <%= j.label :doc %>
        <%= j.file_field :doc, class:'form-control-file'%>
      </div>
      <div class="form-group-inline">
        <%= j.label :title %>
        <%= j.text_field :title, class:'form-control', rows:'5'%>
      </div>
    <% end %>
  <% end %>
</div>
<div class="modal-footer">
  <div class="actions">
    <%= f.submit class:'btn btn-primary'%>
    <%= link_to "Cancel", "#", class: "btn btn-outline-secondary", data: {dismiss: "modal"} %>
  </div>
</div>
