<h2>Amenity Information for <%= @amenity.name %></h2>

<div class="card">
  <h3 class="card-header">Amenity: <%= @amenity.name %></h3>

  <ul class="list-group list-group-flush">
    <li class="list-group-item">Description: <%= @amenity.description %></li>
    <li class="list-group-item">Updated At: <%= @amenity.updated_at %></li>
    <li class="list-group-item">Pictures: <%= @amenity.pictures.count%>
    </li>
  </ul>
</div>

<% if @amenity.pictures.any? %>
  <div class="row">
    <div class="col-sm-12 text-center">
      <h3>Amenity Pictures</h3>
    </div>
    <% @amenity.pictures.each do |picture|%>
    <div class="col-sm-4">

      <div class="card">
        <%= image_tag picture.image.url(:medium), class:'card-img-top', alt:"Card image cap"%>
        <div class="card-block">
          <p class="card-text">
            <%= picture.caption%>
          </p>
        </div>
        <div class="card-block text-center">
          <%= link_to "Delete Picture", admin_amenity_picture_path(@amenity, picture), method: :delete, class:"btn btn-danger", data: { confirm: 'Are you sure?' } %>
        </div>
      </div>


    </div>
    <% end %>
  </div>
<% end %>
<div class="row">
  <div class="col-sm-12">
    <%= link_to "Add Picture", new_admin_amenity_picture_path(@amenity), class:"btn btn-success" %>
    <%= link_to "Back", admin_amenities_path, class:"btn btn-primary"%>
  </div>
</div>

<div id="amenity-modal" class="modal fade"></div>
