<h2>Amenity Information for <%= @amenity.name %></h2>

<div class="card">
  <h3 class="card-header">Amenity: <%= @amenity.name %></h3>

  <ul class="list-group list-group-flush">
    <li class="list-group-item">Description: <div class="details">
      <%= simple_format(@amenity.description) %>
    </div></li>
    <li class="list-group-item">Updated At: <%= get_local_time(@amenity.updated_at) %></li>
    <li class="list-group-item">Pictures: <%= @amenity.pictures.count%>
    </li>
  </ul>
</div>

<% if @amenity.pictures.any? || @amenity.documents.any? %>
  <div class="row">
    <div class="col-sm-12 text-center">
      <h3>Amenity Attachments</h3>
    </div>
    <div class="card-group">
      <% @amenity.pictures.each do |picture|%>
        <div class="card">

            <%= image_tag picture.image.url(:medium), class:'card-img-top', alt:"Card image cap"%>
          <div class="row card-block align-items-end justify-content-center">
            <p class="card-text align-self-end">
              <%= picture.caption%>
            </p>
          </div>
          <div class="card-footer text-center">
            <%= link_to "Delete Picture", admin_amenity_picture_path(@amenity, picture), method: :delete, class:"btn btn-danger", data: { confirm: 'Are you sure?' } %>
          </div>
        </div>
      <% end %>

      <% @amenity.documents.each do |document|%>
          <div class="card">
            <%= link_to document.doc.url do %>
              <div class="row doc-icon justify-content-center align-items-center">
                <i class='ion-document-text'></i>
              </div>
            <% end %>
            <div class="row card-block align-items-end justify-content-center">
              <p class="card-text">
                <%= document.title %>
              </p>
            </div>
            <div class="card-footer text-center">
              <%= link_to "Delete Document", admin_amenity_document_path(@amenity, document), method: :delete, class:"btn btn-danger", data: { confirm: 'Are you sure?' } %>
            </div>
          </div>
      <% end %>

    </div>
  </div>
<% end %>
<div class="row">
  <div class="col-sm-12">
    <%= link_to "Add Picture", new_admin_amenity_picture_path(@amenity), class:"btn btn-success" %>
    <%= link_to "Add Document", new_admin_amenity_document_path(@amenity), class:"btn btn-secondary" %>
    <%= link_to "Back", admin_amenities_path, class:"btn btn-primary"%>
  </div>
</div>

<div id="amenity-modal" class="modal fade"></div>
