<h2>Service Request Information for <%= @service.user.email %></h2>

<div class="card">
  <h3 class="card-header">Service Request: <%= @service.id %></h3>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">Details: <div class="details">
      <%= simple_format(@service.details) %>
    </div>
  </li>

    <li class="list-group-item">Created At: <%= get_local_time(@service.created_at) %></li>
    <li class="list-group-item">Last Updated At: <%= get_local_time(@service.updated_at) %></li>
    <li class="list-group-item">Status: <%= @service.open ? "Open" : "Closed"%>
    </li>
  </ul>
</div>
<div class="row">
  <div class="col-sm-12">
    Email <%= mail_to @service.user.email,nil, subject: "Response for Service Request #{@service.id}" %>
  </div>

</div>
<div class="row">
  <div class="col-sm-12">

    <%= link_to "Edit", edit_admin_service_path(@service), class:"btn btn-success", remote: true %>
    <%= link_to "Back", admin_services_path, class:"btn btn-primary"%>
  </div>
</div>

<div id="service-modal" class="modal fade"></div>
