<h2 class="text-center sidebar-title">Admin Links</h2>
  <ul class="admin-links">
    <%= link_to admin_users_path, class:"admin-link"  do %>
      <li class= "admin-item <%= @page == "users" ? "active" : ""%>" >
        Users
      </li>
    <% end %>

    <%= link_to admin_properties_path, class:"admin-link" do %>
    <li class= "admin-item" >
      Properties
    </li>
    <% end %>

    <%= link_to admin_amenities_path, class:"admin-link" do %>
      <li class= "admin-item" >
        Amenities
      </li>

    <% end %>


    <%= link_to admin_galleries_path, class:"admin-link" do %>
      <li class= "admin-item" >
        Gallery
      </li>
    <% end %>

    <%= link_to admin_services_path, class:"admin-link" do %>
      <li class= "admin-item" >
        Service Requests
      </li>
    <% end %>
  </ul>
