<p id="notice"><%= notice %></p>

<h1>Amenities</h1>

<table>
  <thead>
    <tr>
      <th>
        Image
      </th>
      <th>Name</th>
      <th>Description</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @amenities.each do |amenity| %>
      <tr>
        <td>
          <%=image_tag amenity.pictures.first.image.url(:thumb)%>
        </td>
        <td><%= amenity.name %></td>
        <td><%= amenity.description %></td>
        <td><%= link_to 'Show', amenity %></td>
        <% if is_admin? %>
          <td><%= link_to 'Edit', edit_admin_amenity_path(amenity) %></td>
          <td><%= link_to 'Destroy', admin_amenity_path(amenity), method: :delete, data: { confirm: 'Are you sure?' } %></td>
          <td>
            <%=amenity.pictures.first.image.url(:thumb)%>
          </td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
<br>
<% if is_admin? %>
  <%= link_to 'New Amenity', new_admin_amenity_path %>
<% end %>
