<h2>Amenities</h2>

<% if @amenities.any? %>
<div class="container-fluid">
  <% @amenities.each_with_index do |amenity, index| %>
    <div class="bubble <%= index % 2 == 0 ? 'bubble-even' : ''%>">
      <div class="bubble-picture <%= index % 2 == 0 ? 'left' : 'right'%>">
        <%= image_tag amenity.pictures.first.image.url(:medium)%>
      </div>
      <div class="bubble-text <%= index % 2 == 0 ? 'right' : 'left'%>">
        <%= link_to amenity do %>
          <h3 class="bubble-title"><%= amenity.name %></h3>
        <% end %>
        <p class="bubble-info"><%= simple_format(amenity.description) %></p>
      </div>
    </div>
  <% end %>
</div>
<% else %>
<h3 id="no-amenities">No Amenities Available</h3>
<% end %>
