<p id="notice"><%= notice %></p>

<%= image_tag @pictures.last.image.url(:medium), class:'img'%>

<p>
  <strong>Name:</strong>
  <%= @amenity.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @amenity.description %>
</p>
<%= link_to 'Back', amenities_path %>
<br>
<% @pictures.each do |picture|%>
<%= image_tag picture.image.url(:medium), class:'img'%>
<% end %>
