<h2>Properties</h2>

<% if @properties.any? %>
<div class="container-fluid">
  <% @properties.each_with_index do |property, index| %>
    <div class="bubble <%= index % 2 == 0 ? 'bubble-even' : ''%>">
      <div class="bubble-picture <%= index % 2 == 0 ? 'left' : 'right'%>">
        <%= image_tag property.pictures.first.image.url(:medium)%>
      </div>
      <div class="bubble-text <%= index % 2 == 0 ? 'right' : 'left'%>">
        <%= link_to property do %>
          <h3 class="bubble-title"><%= property.name %></h3>
        <% end %>
        <p class="bubble-info"><%= simple_format(property.description) %></p>
      </div>
    </div>
  <% end %>
</div>
<% else %>
<h3 id="no-properties">No Properties Available</h3>
<% end %>
