  <p id="notice"><%= notice %></p>

  <h1>Properties</h1>

  <table>
    <thead>
      <tr>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @properties.each do |property| %>
      <tr>
        <td>
          <%= image_tag property.pictures.first.image.url(:thumb) %>
        </td>
        <td>
          <%= property.name %>
        </td>
        <td>
          <%= property.description %>
        </td>
        <td><%= link_to 'Show', property %></td>

      </tr>
      <% end %>
    </tbody>
  </table>

  <br>
  <%if is_admin? %>
  <%= link_to 'New Property', new_admin_property_path %>
  <% end %>
