<h2>User Information for <%= @user.email %></h2>

<div class="card">
  <h3 class="card-header">User: <%= @user.email %></h3>

  <ul class="list-group list-group-flush">
    <li class="list-group-item">Sign In Count: <%= @user.sign_in_count %></li>
    <li class="list-group-item">Last Sign In: <%= !@user.last_sign_in_at.nil? ? get_local_time(@user.last_sign_in_at) : "N/A" %></li>
    <li class="list-group-item">Email Confirmation Sent: <%= !@user.confirmation_sent_at.nil? ? get_local_time(@user.confirmation_sent_at) : "N/A"%></li>
    <li class="list-group-item">Email Confirmed: <%= !@user.confirmed_at.nil? ? get_local_time(@user.confirmed_at) : "N/A" %></li>
    <li class="list-group-item">Service Requests: <%= link_to @user.services.count, admin_user_services_path(@user)%>
    </li>
    <li class="list-group-item">Admin Status: <%= @user.admin ? "Admin" : "User Only"%>
    </li>
  </ul>

</div>
