<h2>Property Information for <%= @property.name %></h2>

<div class="card">
  <h3 class="card-header">Property: <%= @property.name %></h3>

  <ul class="list-group list-group-flush">
    <li class="list-group-item">Description: <%= @property.description %></li>
    <li class="list-group-item">Updated At: <%= @property.updated_at %></li>
    <li class="list-group-item">Pictures: <%= @property.pictures.count%>
    </li>
    <li class="list-group-item">Availablity: <%= @property.available ? "Available" : "Occupied"%>
    </li>
  </ul>
</div>

<% if @property.pictures.any? %>
  <div class="row">
    <div class="col-sm-12 text-center">
      <h3>Property Pictures</h3>
    </div>
    <% @property.pictures.each do |picture|%>
    <div class="col-sm-4">

      <div class="card">
        <%= image_tag picture.image.url(:medium), class:'card-img-top', alt:"Card image cap"%>
        <div class="card-block">
          <p class="card-text">
            <%= picture.caption%>
          </p>
        </div>
        <div class="card-block text-center">
          <%= link_to "Delete Picture", admin_property_picture_path(@property, picture), method: :delete, class:"btn btn-danger", data: { confirm: 'Are you sure?' } %>
        </div>
      </div>


    </div>
    <% end %>
  </div>
<% end %>
<div class="row">
  <div class="col-sm-12">
    <%= link_to "Add Picture", new_admin_property_picture_path(@property), class:"btn btn-success" %>
    <%= link_to "Back", admin_properties_path, class:"btn btn-primary"%>
  </div>
</div>

<div id="property-modal" class="modal fade"></div>
